.legend {
  bottom: 0px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  position: absolute;
  right: 5px;
  z-index: 800;
}

.legend img {
  width: 400px;
}

.live {
  animation: pulse 2s infinite;
  position: absolute;
  top: 2px;
  left: 5px;
  max-width: 50px;
}

@keyframes pulse {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: .5;
  }
}